@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
}

h1 {
  letter-spacing: 2px;
}

h2 {
  letter-spacing: 1.5px;
}

h3 {
  letter-spacing: 1.15px;
}

h4 {
  letter-spacing: 2px;
}

h5 {
  letter-spacing: 1.7px;
}

h6 {
  letter-spacing: 1.3px;
}

.change-icon-on-hover{
  line-height: 18px;
  letter-spacing: 1px;
  opacity: 0.25;
  font-weight: 700;
  transition: all 0.3s linear;
}

.change-icon-on-hover:hover{
  color: #D87D4A;
  opacity: 1;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
